@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
img{
  width: 200px;
}
.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  border-bottom: 1px solid rgb(255, 191, 0);
  margin: 0;
  padding: 0;
}
h1{
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal; 

}
table{
  margin: 100px;
}
td{
  width: 300px;
}
.htable{
  color: azure;
  background-color: gray;
}
input[type="submit"]{
  background-color: rgba(221, 255, 0, 0.765);
  border: 1px solid rgb(255, 174, 0);
  margin: 10px;
  padding: 10px;
  width: 80px;
  border-radius: 10px;
}
input[type="reset"]{
  background-color: rgba(221, 255, 0, 0.765);
  border: 1px solid rgb(255, 174, 0);
  margin: 10px;
  padding: 10px;
  width: 80px;
  border-radius: 10px;
}
input[type="button"]{
  background-color: rgba(221, 255, 0, 0.765);
  border: 1px solid rgb(255, 174, 0);
  margin: 10px;
  padding: 10px;
  width: 80px;
  border-radius: 10px;}
input[type="text"]{
  background-color: rgba(221, 255, 0, 0.381);
  border: 1px solid rgb(255, 174, 0);
  margin: 10px;
  padding: 10px;
  width: 200px;
  height: 10px;
  border-radius: 2px;
}